.ampm-item {
  position: relative;
  margin-bottom: 35px;

  &--tab {
    margin-right: 30px;
    width: 304px;
  }

  @media (max-width: $mdDesktopWidth) {
    &--tab {
      margin-right: 25px;
    }
  }

  @media (max-width: $minDesktopWidth) {
    margin-bottom: 10px;

    &--tab {
      margin-right: 10px;
      margin-bottom: 35px;
    }
  }

  @media (max-width: $tableWidth) {
    &--mobile {
      width: 300px !important;
    }
  }
}

.ampm-item__discount-mark {
  font-family: $tondo;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 70px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $white;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  border-radius: 3px;
  border-top-right-radius: 10px;
}

.ampm-item__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  transition: $transition-default;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;

  &:hover,
  &:focus {
    border: 2px solid $cardinal;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  &--tab {
    margin-bottom: 10px;
  }

  @media (max-width: $tableWidth) {
    margin-bottom: 10px;
  }
}

.ampm-item__name {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  display: block;
  font-weight: 400;
  color: $default-black;
  min-height: 47px;
  margin-bottom: 15px;
  transition: $transition-default;

  &:hover,
  &:focus {
    color: $blue;
  }

  &--tab {
    margin-bottom: 15px;
  }

  @media (max-width: $tableWidth) {
    margin-bottom: 15px;
    min-height: 45px;
  }
}

.ampm-item__model {
  font-family: $sansation;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  color: $gray;
  opacity: 0.5;
  margin-bottom: 8px;

  @media (max-width: $tableWidth) {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.ampm-item__buy-button {
  display: flex;
  justify-content: center;
  height: 47px;
  align-items: center;
  border: 1px solid $default-black;
  border-radius: 10px;
  text-decoration: none;
  transition: $transition-default;

  &:hover,
  &:focus {
    border-color: $blue;

    span {
      color: $blue;
    }
  }

    span {
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: $default-black;
      transition: $transition-default;
    }

  @media (max-width: $tableWidth) {
    height: 40px;
  }
}
