.ampm-tabs {

  &--mobile {
    display: none;
  }

  @media (max-width: $tableWidth) {
    display: none;

    &--mobile {
      display: block;
    }
  }
}

.ampm-tabs__container {
  display: none;

  &--active {
    display: block;
  }
}

.ampm-tabs__radio {
  display: none;
}

.ampm-tabs__radio--toilet:checked ~ .ampm-tabs__container--toilet,
.ampm-tabs__radio--furniture:checked ~ .ampm-tabs__container--furniture,
.ampm-tabs__radio--mixer:checked ~ .ampm-tabs__container--mixer,
.ampm-tabs__radio--shower:checked ~ .ampm-tabs__container--shower,
.ampm-tabs__radio--bath:checked ~ .ampm-tabs__container--bath,
.ampm-tabs__radio--cabin:checked ~ .ampm-tabs__container--cabin,
.ampm-tabs__radio--accessories:checked ~ .ampm-tabs__container--accessories {
  display: block;
}

.ampm-tabs__radio:checked + .ampm-tabs__label {
  color: $cardinal;
}



.ampm-tabs__label {
  font-family: $sansation;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: $default-black;
  text-align: center;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-right: 1.8%;
  cursor: pointer;
  transition: $transition-default;

  &:hover,
  &:focus {
    color: $cardinal;
  }

  &:first-of-type {
    margin-left: 5.4%;
  }

  @media (max-width: $desktopWidth) {
    margin-right: 1%;
    &:first-of-type {
      margin-left: 0;
    }
  }

  @media (max-width: $mdDesktopWidth) {
    font-size: 15px;
    width: 120px;
  }
}

.ampm-tabs__container {
  margin-top: 30px;
  padding-top: 50px;
  border-top: 1px solid $border-gray;
}

.ampm-tabs__controls {
  display: flex;
  align-items: center;
}

.ampm-tabs__button {
  font-size: 13px;
  line-height: 16px;
  color: $default-black;
  font-weight: 400;
  background-color: transparent;
  border: none;

  &--active {
    color: $cardinal;
  }
}


.swiper-button-next.ampm-tabs__next::after {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.swiper-button-next.ampm-tabs__next::before {
  content: '';
  height: 2px;
  min-width: 30px;
  background-color: #000000;
  position: relative;
  left: 10px;
}
