.btn {
  background-color: $default-dark;
  color: $light-dark;
  border: none;
  border-radius: 10.5px;
  padding: 11px 16px;
  font-size: 14px;
  line-height: 18.2px;
  text-decoration: none;

  &--gray {
    background-color: $default-gray;
    color: $default-black;
  }
}
