footer.footer
  .footer__wrapper.container.container--narrow
    .footer__block.footer__logo-block
      a.footer__logo-wrapper
       img(src="./assets/img/logo.svg")
      p.footer__copyright © Все права защищены
    .footer__block.footer__nav
      h3.footer__title НОВИНКИ 2021
      nav.footer__nav
        a(href="#").footer__link Фаянс
        a(href="#").footer__link Wellness
        a(href="#").footer__link Смесители
        a(href="#").footer__link Смесители для кухни
        a(href="#").footer__link Душевое оборудование
        a(href="#").footer__link Мебель для ванной комнаты
        a(href="#").footer__link Аксессуары
    .footer__block
      h3.footer__title #AMPMru
      nav.footer__nav
        a(href="#").footer__link Facebook
        a(href="#").footer__link Instagram
        a(href="#").footer__link Youtube
        a(href="#").footer__link VK
    .footer__block.footer__buy
      a.footer__link.link-icon.link-icon--bag Купить онлайн
