header.header
  .header__main
    .header__main-wrapper.container
      a.header__main-link.header__main-link--uppercase Премьеры 2021
      a.header__logo
        img(src="./assets/img/logo.svg")
      a.header__sub-link.link-icon.link-icon--bag Купить онлайн
      a.ham-menu X
  nav.header__nav
    a.header__nav-Link Коллекция X-Joy
    a.header__nav-Link Фаянс
    a.header__nav-Link Wellness
    a.header__nav-Link Смесители
    a.header__nav-Link Смесители для кухни
    a.header__nav-Link Душевое оборудование
    a.header__nav-Link Аксессуары
