mixin slide(imageMobile, imageTablet, image, title, text)
  .swiper-slide.main-swiper__slide
    .main-swiper__image-wrapper
      picture
        source(media="(max-width:767px)" srcset="./assets/img/slider/" + imageMobile)
        source(media="(max-width:991px)" srcset="./assets/img/slider/" + imageTablet)
        img(src="./assets/img/slider/" + image)
    .main-swiper__content-wrapper
      .main-swiper__text-wrapper
        h2.main-swiper__title= title
        p.main-swiper__text= text
        button(type="button").btn.main-swiper__btn Посмотреть все

mixin item(image, title, code)
  .premiere-collection__item
    .premiere-collection__image-wrapper
      img(src="./assets/img/goods/" + image)
    h3.premiere-collection__item-title= title
    p.premiere-collection__code= code
    a(href="#").btn.premiere-collection__btn Подробнее
