/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Open Sans', Arial, sans-serif;
$tondo                   : 'Tondo Corp', Arial, sans-serif;
$sansation               : 'Sansation', Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1380px;
$mdDesktopWidth          : 1280px;
$minDesktopWidth         : 1080px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors

$black: #000000;
$default-black: #1c2e36;
$white: #ffffff;
$gray: #8d969a;
$cardinal: #e52443;
$border-gray: #e9ebeb;
$blue: #40b0e3;

// Transition

$transition-default: all 300ms ease-out;
