/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Tondo Corp', Verdana, sans-serif;
$openSans                   : 'Open Sans', Verdana, sans-serif;
$sansation               : 'Sansation', Verdana, sans-serif;
$sfpro                   : 'Sf Pro Display', Verdana, sans-serif;
$nova                    : 'Novito Nova', Verdana, sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.3;

$desktopWidth            : 1200px;
$mdDesktopWidth          : 1120px;
$minDesktopWidth         : 1080px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors

$default-black           : #000000;
$default-white           : #ffffff;
$light-black             : #151516;
$default-dark            : #212123;
$light-dark              : #b8bcda;
$default-gray            : #d9d8d9;
$white-15                : rgba(255, 255, 255, 0.15);
$white-70                : rgba(255, 255, 255, 0.70);

// Transition

$transition-default: all 300ms ease-out;
